/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-v27-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v27-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v27-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v27-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v27-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v27-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-v27-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v27-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v27-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v27-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/roboto-v27-latin-500.svg#Roboto")
      format("svg"); /* Legacy iOS */
}

html {
  box-sizing: border-box;
  font-family: "Roboto";
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: "Roboto";
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}
.header__wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
}

.header__init {
  box-shadow: 0px 3px 10px 0px #0000000d;
}
.partners {
  margin-top: 70px;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #121920;
  margin-bottom: 30px;
}
.line {
  display: none;
}
.header__user {
  border-left: 1px solid #ebebf1;
}
.header__profile-logo {
  display: none;
}

.header__search {
  border: 1px solid #ebebf1;
  border-radius: 5px;
  width: 763px;
  height: 40px;
  display: flex;
}
.header__logo {
  margin-right: 60px;
  margin-top: 25px;
  margin-bottom: 25px;
  justify-content: center;
  height: 30px;
}

.header__search {
  margin-right: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.header__search input {
  border: none;
  outline: none;
  background: transparent;
  border: none;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
}
.header__search input:placeholder-shown {
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #bbc4d6;
  line-height: 16px;
  letter-spacing: 0.01em;
}
.header__search input[type="text"]::placeholder {
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #bbc4d6;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.header__search_icon {
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 0px;
  margin-left: 10px;
}
.header__user {
  display: flex;

  justify-content: center;
}
.header__user_name {
  font-family: "Roboto";
  color: #768298;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.01em;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 11.5px;
  padding-bottom: 11.5px;
  padding-left: 19px;
  padding-right: 10px;
}
.header__user_image {
  align-items: center;
}

.partners__wrapper {
  margin: -15px;
  overflow: hidden;
}
.partners__grid {
  display: flex;
  flex-wrap: wrap;
}

.partners__grid_item {
  height: 120px;
  width: 270px;
  border: 1px solid #ebebf1;
  border-radius: 5px;
  flex: 0 1 270px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.partners__grid_item img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 1440px) and (min-width: 768px) {
  .wrapper {
    max-width: 728px;
    margin: 0 auto;
  }
  .header__wrapper {
    max-width: 728px;
    margin: 0 auto;
  }
  .partners__grid_item {
    height: 120px;
    width: 229px;
    border: 1px solid #ebebf1;
    border-radius: 5px;
    flex: 0 1 229px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .partners__wrapper {
    margin: -10px;
    overflow: hidden;
  }
  .partners__grid_item img {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
  header {
    width: 100%;
    display: flex;
  }

  .header__init {
    box-shadow: 0px 3px 10px 0px #0000000d;
  }
  .partners {
    margin-top: 70px;
    font-family: "Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    color: #121920;
    margin-bottom: 30px;
  }

  .header__user {
    border-left: 1px solid #ebebf1;
  }

  .header__search {
    border: 1px solid #ebebf1;
    border-radius: 5px;
    width: 344px;
    height: 40px;
    display: flex;
  }
  .header__logo {
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .header__search {
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .header__search input {
    border: none;
    outline: none;
    background: transparent;
    border: none;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.01em;
  }
  .header__search input:placeholder-shown {
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #bbc4d6;
    line-height: 16px;
    letter-spacing: 0.01em;
  }
  .header__search input[type="text"]::placeholder {
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #bbc4d6;
    line-height: 16px;
    letter-spacing: 0.01em;
  }

  .header__search_icon {
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 0px;
    margin-left: 10px;
  }
  .header__user {
    display: flex;

    justify-content: center;
  }
  .header__user_name {
    font-family: "Roboto";
    color: #768298;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.01em;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    padding-left: 19px;
    padding-right: 10px;
  }
  .header__user_image {
    align-items: center;
  }

  .partners__wrapper {
    margin: -15px;
    overflow: hidden;
  }
  .partners__grid {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) and (min-width: 375px) {
  .wrapper {
    max-width: 335px;
    margin: 0 auto;
  }
  .header__wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
  .partners__grid_item {
    height: 140px;
    width: 335px;
    border: 1px solid #ebebf1;
    border-radius: 5px;
    flex: 0 1 335px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .partners__grid_item img {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .header__profile-logo {
    display: block;
    height: 24px;
    width: 24px;
    margin-right: 17px;
    margin-top: 21px;
    margin-bottom: 17px;
  }
  .line {
    width: 100%;
    display: block;
    position: absolute;
    top: 64px;
    margin: 0;
  }
  .header__init {
    width: 100%;
    display: flex;
    box-shadow: 0px 3px 10px 0px #0000000d;
  }
  .partners {
    margin-top: 70px;
    font-family: "Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    color: #121920;
    margin-bottom: 30px;
  }

  .header__user {
    display: flex;
    border-left: 1px solid #ebebf1;
  }
  .header__unity {
    display: flex;
    flex-direction: row;
  }
  .header__search {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 41px;
    display: flex;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header__logo {
    margin-right: 175px;
    margin-top: 17px;
    margin-bottom: 17px;
  }

  .header__search input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    border: none;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.01em;
  }
  .header__search input:placeholder-shown {
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #bbc4d6;
    line-height: 16px;
    letter-spacing: 0.01em;
  }
  .header__search input[type="text"]::placeholder {
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #bbc4d6;
    line-height: 16px;
    letter-spacing: 0.01em;
  }

  .header__search_icon {
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 0px;
    margin-left: 10px;
  }
  .header__user {
    display: none;
    justify-content: center;
  }
  .header__user_name {
    font-family: "Roboto";
    color: #768298;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.01em;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    padding-left: 19px;
    padding-right: 10px;
  }
  .header__user_image {
    align-items: center;
  }

  .partners__grid {
    display: flex;
    flex-wrap: wrap;
  }
}
